.container {
    width: 1180px;
    margin: 0 auto;
}

h2 {
    color: #0008ff;
    font-size: 36px;
    display: inline-block;
}

.myicon {
    font-size: 68px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.myicon:hover {
    color: rgb(240, 108, 108);
}
